.l_catalog_page
  margin: 0 0 100px

  .main_title
    font-size: 25px
    color: $font-dark-color
    font-weight: 700
    padding: 20px 0
.b_catalog_list
  padding-top: 40px
  font-size: 0
  margin-top: -1px
  margin-left: -1px
  &.is-hidden
    display: none

  .item
    vertical-align: top
    //height: 142px
    font-size: 16px
    //font-weight: 700
    color: #000
    position: relative
    font-weight: 300
    //outline: 2px solid #fff
    margin-left: 20px
    display: inline-block
    width: calc(100% - 40px)
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15)
    transition: outline .0s ease-in, background-color .2s ease-in, transform .2s ease-in, opacity .2s ease-in, background-color .2s ease-in
    background-color: #fff

    @include media-breakpoint-up(sm)
      margin-top: 20px
      margin-left: 20px
      width: calc(50% - 20px)
    @include media-breakpoint-up(md)
      width: calc(33.33333% - 20px)
    @include media-breakpoint-up(lg)
      width: calc(25% - 20px)
    @include media-breakpoint-up(xl)
      width: calc(20% - 20px)


    &:hover  .img:after
      content: 'Просмотреть'
      opacity: 1
      background-color: rgba($primary-color, 0.75)
    &:hover .title
      background-color: rgba($primary-color, 1)
    &:hover
      outline: 1px solid transparent

      z-index: 2
      transform: scale(1.1)
  .img
    height: 142px
    background-size: contain
    background-position: top center
    text-align: center
    transition: all .2s ease-in

    &:after
      content: ''
      position: absolute
      background-color: rgba($primary-color, 0.05)
      top: 0
      left: 0
      right: 0
      bottom: 0
      display: flex
      align-items: center
      margin-bottom: 40px
      text-align: center
      color: $font-color
      font-weight: 700
      font-size: 20px
      //height: 100%
      justify-content: center
      z-index: 1
      transition: opacity .2s ease-in, background-color .2s ease-in
      opacity: 0




  .title
    text-align: center
    height: 50px
    display: flex
    align-items: center
    background-color: #272f55
    line-height: 1.05
    color: $font-color
    flex-wrap: wrap
    justify-content: center
  .highlight
    background-color: rgba($headline-color, .5)
  .is-hidden
    display: none

  img
    height: 142px
    @include img-fluid
    max-height: 100%


.b_catalog_list:nth-child(4), .b_catalog_list:nth-child(5)
  img
    object-fit: cover
    height: 100%
    width: 100%

.b_search
  margin: 50px auto 0
  position: relative
  max-width: 350px
  width: 100%
  height: 40px
  border-radius: 40px
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15)
  background: #fff
  transition: all 0.3s ease
  &.focus
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15)

  .input
    position: absolute
    top: 10px
    left: 38px
    font-size: 14px
    background: none
    color: #5a6674
    width: 195px
    height: 20px
    border: none
    appearance: none
    outline: none
    &::-webkit-search-cancel-button
      appearance: none

  .button
    position: absolute
    top: 10px
    left: 15px
    height: 20px
    width: 20px
    & svg
      width: 20px
      height: 20px
      fill: #5a6674
.b_no_matches
  color: $font-dark-color
  display: none
  padding: 10px 0
  &.is-visible
    display: block
