<footer class="l_footer">
	<div class="container">
		<div class="row ">
			<div class="order-2 order-md-0 col-6 col-md-3 b_footer_logo ">
				<a href="/" class="m_svg_response js_svg_response">
					<svg class=" svg_inner m_dark_logo" >
						<use xlink:href="#logo"></use>
					</svg>
				</a>
				<p class="description">© 2018, ООО «Industrial Springs», Все права защищены</p>
				<span class="address">Aдресс:</span>
				<p>Полтавская обл, с. Россошинцы, ул. Геологическая 14 ООО «Индустриал спрингс»</p>
			</div>
			<div class="order-0 order-md-1 col-6 col-md-3 b_footer_links">
				<!-- <h3 class="title">Продукция</h3> -->
				<div class="nav flex-column list">
					<a class="link" href="/catalog/pruzhiny-szhatiya.html">Пружины сжатия</a>
					<a class="link" href="/catalog/pruzhiny-rastyazheniya.html">Пружины растяжения</a>
					<a class="link" href="/catalog/pruzhiny-krucheniya.html">Пружины кручения</a>
					<a class="link" href="/catalog/pruzhiny-konicheskiye.html">Пружины конические</a>
					<a class="link" href="/catalog/pruzhiny-manzhet-salnikov.html">Пружины манжет, сальников</a>
					<a class="link" href="/catalog/pruzhiny-liftovye.html">Пружины лифтовые</a>
					<a class="link" href="/catalog/pruzhiny-dlya-batuta.html">Пружины для батута</a>
				</div>
			</div>
			<div class="order-1 order-md-2 col-6  col-md-3 b_footer_links">
				<!-- <h3 class="title">Продукция</h3> -->
				<div class="nav flex-column list">
					<a class="link" href="/catalog/pruzhiny-tarelchatye.html">Пружины тарельчатые</a>
					<a class="link" href="/catalog/pruzhiny-volnovye.html">Пружины волновые</a>
					<a class="link" href="/catalog/pruzhiny-spiralnye-zavodnye.html">Пружины спиральные заводные</a>
					<a class="link" href="/catalog/pruzhiny-ploskiye.html">Пружины плоские</a>
					<a class="link" href="/catalog/pruzhiny-plastinchatye.html">Пружины пластинчатые</a>
					<a class="link" href="/catalog/pruzhiny-torsionye-dlya-sektsionnykh-garazhnykh-vorot.html">Пружины торсионные</a>
					<a class="link" href="/catalog/pruzhiny-nestandartnye.html">Пружины нестандартные</a>
				</div>
			</div>
			<div class="order-3 order-md-3 col-6 col-md-3 ">
				<div class="b_call">
					<p class="work_time">Рабочее время с 8:00 до 18:00</p>
					<a class="number" href="tel:0973058185" >
						<svg class="icon" >
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kievstar"></use>
						</svg>
						<span>097 305 81 85</span>
					</a>
					<a class="number" href="tel:0662838082" >
						<svg class="icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vodafone"></use>
						</svg>
						<span>066 283 80 82</span>
					</a>
					<a class="number" href="tel:+380532591590" >
						<i class="fa fa-phone icon m_icon_padding" aria-hidden="true"></i>
						<span>0532 591 590</span>
					</a>
				</div>
				<button type="button" class="m_footer_btn btn btn-outline-primary m_w100_btn m_primary_btn js_phone_trigger">Заказать звонок</button>
				<div class="b_email_address">Email:
					<a href="mailto:info@gmail.com" class="item">industrial.poltava@ukr.net</a>
				</div>
			</div>
		</div>
	</div>
</footer>
