<header class="l_header" data-height="317.1" data-width="317.1">
	<div class="container">
		<div class="row js_calc_header_height ">
			<div class="col-6 col-sm-4 col-lg-3 align-self-center b_logo ">
				<a href="/" class="m_svg_response link js_svg_response">
						<svg class="svg_inner m_light_logo">
							<use xlink:href="#logo"></use>
						</svg>
				</a>
			</div>
			<div class="col-md-5  align-self-center d-none  d-lg-block b_site_title">
				<p class="title">Производство и продажа пружин на заказ</p>
				<p class="title">Доставка по Украине</p>
				<p class="description m_geo_mark">г. Полтава, ул. Котляревского 1/27, офис 708, Торговый Дом "Кип"</p>
			</div>
			<div class="col-6 col-sm-4 col-lg-2 b_call align-self-center">
					<a class="number" href="tel:0973058185" id="kievstar_phone">
						<svg class="icon" >
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kievstar"></use>
						</svg>
						<span>097 305 81 85</span>
					</a>
					<a class="number" href="tel:0662838082" id="mts_phone">
						<svg class="icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vodafone"></use>
						</svg>
						<span>066 283 80 82</span>
					</a>
					<a class="number" href="tel:+380532591590" id="home_phone">
						<i class="fa fa-phone icon m_icon_padding" aria-hidden="true"></i>
						<span>0532 591 590</span>
					</a>
				</div>
			<div class="col-sm-4 col-lg-2 d-none d-sm-block text-center text-sm-right align-self-center">
				<button type="button" class="js_phone_trigger btn btn-outline-primary m_w100_btn m_primary_btn m_size_fix">Заказать звонок</button>
			</div>
		</div>
		<div class="row">
			<div class="col-9 col-sm-10 d-lg-none d-block b_site_title m_site_title_lg">
				<p class="title">Производство и продажа пружин всех видов</p>
				<p class="title">Доставка по Украине</p>
				<p class="description">г. Полтава, ул. Котляревского 1/27, офис 708, Торговый Дом "Кип"</p>
			</div>
			<div class="col-3 col-sm-2  align-self-end text-right">
				<a href="#" class="b_burger" id="menu">
					<span class="icon"></span>
				</a>
			</div>
		</div>
		<div class="l_nav js_nav_wrapper">
			<nav id="mainnav" class="b_navigation">
				<ul class="list">
					<li class="item active_1"><a class="link" href="/">Главная</a></li>
					<li class="item active_2"><a class="link" href="#">О компании</a></li>
					<li class="item active_3"><a class="link" href="#">Каталог</a></li>
					<li class="item active_4"><a class="link" href="/dostavka-i-oplata.html">Доставка и оплата</a></li>
					<li class="item active_5"><a class="link" href="/kontakty.html">Контакты</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>