		<div class="spoiler">Используемые марки стали</div>

		<div class="content_table">

			<table class="hide" border="0" cellspacing="1" cellpadding="2">
				<thead>
				<tr >
					<td >Стандарт СНГ (ГОСТ)</td>
					<td colspan="2">Европейские стандарты</td>
					<td >Стандарт США</td>
				</tr>
				</thead>
				<tbody>
				<tr >
					<td >
						<p>70</p>
					</td>
					<td >
						<p>Ck 67</p>
					</td>
					<td >
						<p>1.1231</p>
					</td>
					<td >
						<p>1070</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>75</p>
					</td>
					<td >
						<p>C 75</p>
					</td>
					<td >
						<p>1.0605</p>
					</td>
					<td >
						<p>1074</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>85</p>
					</td>
					<td >
						<p>Ck 85</p>
					</td>
					<td >
						<p>1.1269</p>
					</td>
					<td >
						<p>1086</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>50ХФА</p>
					</td>
					<td >
						<p>50СrV4</p>
					</td>
					<td >
						<p>1.8159</p>
					</td>
					<td >
						<p>6150</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>52 ХГМФА</p>
					</td>
					<td  >
						<p>51CrMoV4</p>
					</td>
					<td  >
						<p>1.7701</p>
					</td>
					<td  >
						<p>-</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>55 ХС2 А</p>
					</td>
					<td  >
						<p>54SICr6</p>
					</td>
					<td  >
						<p>1.7102</p>
					</td>
					<td  >
						<p>-</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>55 ХГА</p>
					</td>
					<td  >
						<p>55Cr3</p>
					</td>
					<td  >
						<p>1.7176</p>
					</td>
					<td  >
						<p>5147</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>55С2</p>
					</td>
					<td >
						<p>55Si7</p>
					</td>
					<td >
						<p>1.5026</p>
					</td>
					<td >
						<p>-</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>60Г</p>
					</td>
					<td >
						<p>С 60</p>
					</td>
					<td >
						<p>1.0601</p>
					</td>
					<td >
						<p>1060</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>65Г</p>
					</td>
					<td >
						<p>Ck65</p>
					</td>
					<td >
						<p>1.1230</p>
					</td>
					<td >
						<p>1065</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>60C2</p>
					</td>
					<td >
						<p>60Si7</p>
					</td>
					<td >
						<p>1.5027</p>
					</td>
					<td >
						<p>9260</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>60С2Г</p>
					</td>
					<td >
						<p>60SiMn</p>
					</td>
					<td >
						<p>1.5142</p>
					</td>
					<td >
						<p>&nbsp;</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>60С2ГХ</p>
					</td>
					<td >
						<p>60SiCr7</p>
					</td>
					<td >
						<p>1.5092</p>
					</td>
					<td >
						<p>9262</p>
					</td>
				</tr>
				<tr >
					<td >
						<p>70C2ХА</p>
					</td>
					<td >
						<p>71Si 7</p>
					</td>
					<td >
						<p>1.5029</p>
					</td>
					<td >
						<p>-</p>
					</td>
				</tr>
				<tr >
					<td  >
						<p>30Х13</p>
					</td>
					<td  >
						<p>X30Cr13</p>
					</td>
					<td  >
						<p>1.4031</p>
					</td>
					<td  >
						<p>&nbsp;</p>
					</td>
				</tr>
				<tr >
					<td  >
						<p>40Х13</p>
					</td>
					<td  >
						<p>X39Cr13</p>
					</td>
					<td  >
						<p>1.4034</p>
					</td>
					<td  >
						<p>420 F</p>
					</td>
				</tr>
				<tr>
					<td >
						<p>12Х18Н10Т</p>
					</td>
					<td >
						<p>X12 CrNiTi 18-9</p>
					</td>
					<td >
						<p>1.4878</p>
					</td>
					<td >
						<p>321 H</p>
					</td>
				</tr>
				<tr>
					<td >
						<p>ХН77ТЮР</p>
					</td>
					<td >
						<p>NiCr20TiAl</p>
					</td>
					<td >
						<p>2.4952</p>
					</td>
					<td >
						<p>IINCONEL alloy80A</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
