<footer class="l_footer">
	<div class="container">
		<div class="row ">
			<div class="order-2 order-md-0 col-6 col-md-3 b_footer_logo ">
				<a href="/" class="m_svg_response js_svg_response">
					<svg class=" svg_inner m_dark_logo" >
						<use xlink:href="#logo"></use>
					</svg>
				</a>
				<p class="description">© 2018, ООО «Industrial Springs», Все права защищены</p>
				<span class="address">Aддресс:</span>
				<p>г. Полтава, ул. Котляревского 1/27, офис 708, Торговый Дом "Кип"</p>
			</div>
			<div class="order-0 order-md-1 col-6 col-md-3 b_footer_links">
				<h3 class="title">Продукция</h3>
				<div class="nav flex-column list">
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
				</div>
			</div>
			<div class="order-1 order-md-2 col-6  col-md-3 b_footer_links">
				<h3 class="title">Продукция</h3>
				<div class="nav flex-column list">
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
				</div>
				<h3 class="title">Продукция</h3>
				<div class="nav flex-column list">
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
					<a class="link" href="">Пружинный узел «Сила»</a>
				</div>
			</div>
			<div class="order-3 order-md-3 col-6 col-md-3 ">
				<div class="b_call">
					<p class="work_time">Рабочее время с 9:00 до 20:00</p>
					<a class="number" href="tel:+380685100883" id="kievstar_phone">
						<svg class="icon" >
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kievstar"></use>
						</svg>
						<span>068 510 08 83</span>
					</a>
					<a class="number" href="tel:+380506356157" id="mts_phone">
						<svg class="icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vodafone"></use>
						</svg>
						<span>050 635 61 57</span>
					</a>
					<a class="number" href="tel:+380444655041" id="home_phone">
						<i class="fa fa-phone icon m_icon_padding" aria-hidden="true"></i>
						<span>044 465 50 41</span>
					</a>
				</div>
				<button type="button" class="m_footer_btn btn btn-outline-primary m_w100_btn m_primary_btn js_phone_trigger">Заказать звонок</button>
				<div class="b_email_address">Email:
					<a href="mailto:info@gmail.com" class="item">info@gmail.com</a>
				</div>
			</div>
		</div>
	</div>
</footer>
